.vertical-center {
    min-height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
}

textarea {
    resize: none;
    min-height: 50px;
}

.room-title {
    font-size: 2em;
    text-align: center;
}

h1 {
    margin: 24px 0;
}

.messages p {
    margin: 6px 0;
}

.myMessage {
    color: white;
    background-color: #3b7cff;
    text-align: right;
    padding-right: 30px;
    float: right;
    display: block;
}

.incomingMessage {
    color: black;
    background-color: #f1f0f0;
    text-align: left;
    padding-left: 30px;
    display: block;
    float: left;
}

.list-group-item {
    margin-bottom: 20px;
    border-radius: 5% !important;
    font-size: 1vw;
    border: none;
    word-wrap: break-word;
    width: 400px;
}

.list-group {
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
}
